################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MySQLConnection/.vs/MySQLConnection/v16
/MySQLConnection/bin/Debug
/MySQLConnection/obj
